.container{
    margin-top:100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    text-align: center;
}
.keypad{
    margin-top:50px;
    display:flex;
    width:60%;
    flex-wrap: wrap;
    justify-content: center;
    gap:10px;
}
.keypad button{
    cursor: pointer;
    padding:40px;
    width:25%;
    background-color: rgb(95, 241, 241);
    border: none;
    border-radius: 7px;
    font-size: 30px;
    font-weight:bold;
}
#error{
    color:red;
    margin-top: 30px;
    font-size: 26px;
}

#ans{
    margin-top: 30px;
    font-size: 46px;
}

.inputs{
    display: flex;
    width: 50%;
}
.operators{
    display: flex;
    flex-direction: column;
    margin:50px 20px;
    gap:10px;
}
.operators button{
cursor: pointer;
    padding:40px;
    background-color: rgb(133, 170, 46);
    border: none;
    border-radius: 7px;
    font-size: 30px;
    font-weight:bold;
}
.lastDiv{
    display: flex;
    flex-direction: column;
    margin:50px 20px;
    gap:10px;
}
.lastDiv button{
    cursor: pointer;
    padding:40px;
    background-color: rgb(210, 74, 228);
    border: none;
    border-radius: 7px;
    font-size: 30px;
    font-weight:bold;
}
#inpValues{
    border:3px solid grey;
    border-radius: 3px;
    padding:15px;
    height:30px;
}