body{
    background-color: lightcyan;
}
.btns{
    padding:25px;
    border-radius:5px;
    text-align: center;
    margin:10px;
    font-size: 20px;
    font-weight: bolder;
    background-color: rgb(209, 243, 209);
}
.btns:hover{
    background-color: rgb(128, 184, 128);
}
div{
    margin: 50px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container input{
    margin: 10px 5px;
    padding:10px 5px;
    width: 60px;
    height:50px;
    border-radius: 5px;
    color:black;
    background-color:darksalmon;
    text-align: center;
    font-size: 20px;
    border: 3px solid maroon;
}

#result{
    font-size: 30px;
}
label, p{
    font-size: 30px;
}